<%= simple_form_for(Task.new, remote: remote) do |f| %>
  <%= f.error_notification %>

  <%= f.input :body, label: false, placeholder: 'Create a task' %>
  <span class='save-help'>Press enter to save</span>
<% end %>
